@font-face {
  font-family: 'Clan-Bold';
  src: url(./assets/fonts/ClanPro-Bold.otf);
}
@font-face {
  font-family: 'Clan-Book';
  src: url(./assets/fonts/ClanPro-Book.otf);
}

body {
  max-height: 100vh;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin:0 23px;
  background-image: linear-gradient(rgb(238, 195, 195), rgb(243, 135, 135), rgb(179, 60, 60));
  font-family: Clan-Book;
}

h1{
  margin: 0;
  padding: 0;
  font-family: Clan-Bold;
}

.description-container{
  max-height: calc(var(--vh, 1vh) * 31);
  word-break: break-word;
  overflow: scroll;
}

p{
  margin: 0;
  padding: 0;
}

.video-container{
  margin: 5px 0 20px;
}

.video-container video {
  max-width: 100%;
  min-height: calc(var(--vh, 1vh) * 40);
  object-fit: cover;
  box-shadow: 0px 10px 30px -9px rgba(17,17,17,1);
}

.arrow-next img{
  transform: rotate(-45deg);
  width: 43px;
  height: 43px;
  max-width: fit-content;
  position: fixed;
  bottom: 23px;
  right: 30px;
}
